[
{% for host in groups['apps'] %}
  {
    "targets": ["{{ hostvars[host].ansible_host }}:9100"],
    "labels": {
      "instance": "{{ hostvars[host].ansible_host }}",
      "environment": "{% if 'sandbox' in host %}sandbox{% elif 'prod' in host %}prod{% else %}non-prod{% endif %}"
    }
  }{% if not loop.last %},{% endif %}
{% endfor %}
]
